In [2]:
import pandas as pd
import numpy as np 
import numpy.random as randn
import seaborn as sp
from seaborn import

In [10]:
df = sp.load_dataset('iris')
df.head()

df2 = df[df['sepal_length'] > 5  ]
df2.head()

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
10           5.4          3.7           1.5          0.2  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa

In [12]:
df['total length'] = df['sepal_length'] + df['petal_length']
df

,sepal_length,sepal_width,petal_length,petal_width,species,total length
0,5.1,3.5,1.4,0.2,setosa,6.5
1,4.9,3.0,1.4,0.2,setosa,6.3
2,4.7,3.2,1.3,0.2,setosa,6.0
3,4.6,3.1,1.5,0.2,setosa,6.1
4,5.0,3.6,1.4,0.2,setosa,6.4
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,11.9
146,6.3,2.5,5.0,1.9,virginica,11.3
147,6.5,3.0,5.2,2.0,virginica,11.7
148,6.2,3.4,5.4,2.3,virginica,11.6
149,5.9,3.0,5.1,1.8,virginica,11.0