In [4]:
import datetime 
import scipy
import warnings
import pandas as pd 
import numpy as np 
import matplotlib as clt
import matplotlib.pyplot as plt 
import seaborn as sb
plt.rcParams["patch.force_edgecolor"] = True
plt.style.use("fivethirtyeight")
clt.rc("patch" , edgecolor = 'dimgray' , linewidth = 1 )
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity =   "last_expr"
pd.options.display.max_columns = 50 
%matplotlib.inline
warnings.filterwarnings("ignore")

UsageError: Line magic function `%matplotlib.inline` not found.

In [5]:
import math
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler , StandardScaler
from sklearn.metrics import mean_squared_error

In [22]:
df = pd.read_csv("air_quality.csv" ,sep=" ")
df.head()



def combine_date(df , tab_name):
    list_tab = []
    for i in range(df.shape[0]) : 
        list_tab.append(df.loc[i , 'Tanggal']  + "T" +  df.loc[i , tab_name][0:2])

    return np.array(list_tab , dtype="datetime64")

df['Datetime'] = combine_date(df , 'Jam')

df.head(10)
df = df[['Datetime' ,'O3' , 'CO','NO2', 'SO2', 'NO' ,'CO2', 'VOC', 'PM1' ,'PM2.5' ,'PM4' ,'PM10' ,'TEMP', 'HUM', 'WS' , 'WD' , 'ISPU']]
df.head(10)

df2 = df.groupby(['Datetime']).mean()
df2

,O3,CO,NO2,SO2,NO,CO2,VOC,PM1,PM2.5,PM4,PM10,TEMP,HUM,WS,WD,ISPU
Datetime,,,,,,,,,,,,,,,,
2019-05-19 00:00:00,11.797500,0.667500,15.720000,9.730000,34.321750,399.135000,439.223000,0.0,0.0,0.0,7.157500,37.225000,171.850000,0.28125,3.500000,10.000000
2019-05-19 01:00:00,3.816667,0.373333,22.600000,20.090000,39.821000,388.536667,250.394000,0.0,0.0,0.0,3.293333,20.966667,95.033333,0.67500,4.666667,12.666667
2019-05-19 02:00:00,6.450000,0.332500,24.130000,26.310000,51.293250,396.242500,251.045750,0.0,0.0,0.0,6.487500,20.150000,97.500000,0.09375,3.750000,16.250000
2019-05-19 03:00:00,4.740000,0.180000,25.975000,24.390000,43.518500,401.355000,252.248750,0.0,0.0,0.0,4.700000,19.850000,100.000000,0.07500,5.000000,15.000000
2019-05-19 04:00:00,19.692500,0.202500,20.395000,18.622500,53.379250,399.335000,694.239750,0.0,0.0,0.0,5.262500,53.475000,272.500000,0.18750,5.250000,13.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-18 19:00:00,6.428333,0.048333,13.251667,11.058333,56.823833,398.081667,242.439833,0.0,0.0,0.0,4.343333,23.833333,70.283333,2.08750,4.000000,7.666667
2019-08-18 20:00:00,10.741667,0.078333,9.021667,11.830000,38.051167,402.715000,241.786167,0.0,0.0,0.0,7.805000,22.783333,77.083333,9.53750,4.500000,10.666667
2019-08-18 21:00:00,8.166667,0.081667,11.540000,16.550000,46.963500,389.273333,229.602500,0.0,0.0,0.0,4.603333,21.850000,71.383333,30.68750,4.666667,10.500000
2019-08-18 22:00:00,7.460000,0.108333,8.065000,12.355000,51.008667,394.935000,237.468167,0.0,0.0,0.0,3.725000,20.916667,69.216667,58.06250,3.500000,8.833333
2019-08-18 23:00:00,4.485000,0.216667,13.790000,9.325000,63.208000,387.388333,216.012667,0.0,0.0,0.0,10.313333,20.666667,68.400000,128.12500,4.333333,12.000000